.no-print,
nav, aside, iframe,
body > footer,
body > .container > .footer, /* PluXml 5.5 */
#footer-page,
#comment,
#pagination,
#scrollToTop,
.article ~ h2, /* PluXml 5.5 */
.article + h3, /* PluXml 5.6 */
.article ~ form,
.social-buttons {
	display: none;
}

/* https://www.smashingmagazine.com/2011/11/how-to-set-up-a-print-style-sheet/ */
body {
	font-size: 10pt;
	font-family: serif;
}

p {
	text-align: justify;
	text-indent: 1rem;
}
table {
	page-break-inside: avoid;
}

h1, h2, h3, h4 {
	font-family: 'sans-serif';
}

#logo {
	width: 3cm;
}
@page {
	margin: 1.24cm 1cm 1.5cm;
}
a {
	text-decoration: none;
	color: #444;
	padding: 0 1.5mm;
}
.static-page a:after,
.article a:after {
	font-style: italic;
	font-size: 80%;
	content: ' (' attr(href) ')';
}

body > header {
	display: flex;
	justify-content: space-between;
}
body > header h1,
body > header h2 {
	text-align: center;
}