/* compilé sur http://sassmeister.com/ */
body {
  margin: 0;
  padding: 0;
  color: #115376;
  font-family: Open Sans, sans-serif;
}

body header {
  padding: 0.6rem 1.2rem;
  background: #115376;
  color: #dadada;
  font-size: 0.95rem;
}

@media screen and (min-width: 1024px) {
  body header {
    padding: 0.6rem 10%;
  }
}

body header .head-title {
  display: inline;
}

@media screen and (min-width: 768px) {
  body header .head-title {
    float: left;
    display: block;
    height: 100%;
    padding: 0.6rem 0;
  }
}

body header .details {
  display: inline;
  text-align: center;
}

body header .details .title {
  display: inline;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  body header .details .title {
    display: block;
  }
}

body header .details .url {
  display: inline;
}

@media screen and (min-width: 768px) {
  body header .details .url {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  body header .details .url:before {
    content: '(';
  }
}

@media screen and (max-width: 768px) {
  body header .details .url:after {
    content: ')';
  }
}

@media screen and (min-width: 768px) {
  body .wrapper {
    padding: 1.2rem 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  body .wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 1.2rem 0;
  }
}

body .wrapper .search {
  padding-right: 2.4rem;
}

@media screen and (min-width: 768px) {
  body .wrapper .search {
    width: 40%;
    float: left;
    display: inline-block;
    vertical-align: top;
  }
}

body .wrapper .search input[type="search"] {
  width: 100%;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: 0px solid #c3e4f6;
  box-shadow: inset 0 0 12px -5px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 768px) {
  body .wrapper .search input[type="search"] {
    border-width: 1px;
  }
}

@media screen and (min-width: 768px) {
  body .wrapper .pod-list {
    display: inline-block;
    float: right;
    width: 50%;
  }
}

body .wrapper .pod-list a {
  display: block;
  cursor: pointer;
  margin: 0 0 0.6rem;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  color: #115376;
  border: solid #c3e4f6;
  border-width: 1px;
  transition: box-shadow 0.15s ease, background 0.15s ease, color 0.15s ease;
}

body .wrapper .pod-list a.hidden {
  display: none;
}

body .wrapper .pod-list a.memorized {
  border-color: #32aeef;
}

body .wrapper .pod-list a.selected {
  background: #c0e6fa;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
}

body .wrapper .pod-list a.custom {
  font-weight: bold;
  border-color: #f39362;
}

body .wrapper .pod-list a.custom.selected {
  background: #fad4c0;
}

body .wrapper .pod-list a:hover {
  color: #1f91ce;
  box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.4);
}

body .wrapper .options {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 768px) {
  body .wrapper .options {
    float: left;
    clear: left;
    display: inline-block;
    width: 40%;
  }
}

body .wrapper .options label {
  display: block;
}
