<p><strong>Saurons-nous être semeur de paix ?</strong><br />
Rencontre animée par Jean Luc Tournier et Jean Michel Paillot autour du livre « La premi&egrave;re paix mondiale » <i> co-&eacute;crit par Bernard Montaud et Christophe Roux-Dufort</i></p>

<h3><font color=" #ff7133 "><strong><font color=" #ff7133 "><font color=" #ff7133 ">"</font><font color=" #ff7133 "><font color=" #ff7133 ">R</font></font>encontres<font color=" #ff7133 "> autour d'un verre"</font></font></strong></font></h3>

<h3><font color=" #ff7133 "><strong>Jeudi 11 mai – 18h30 </strong></font></h3>

<h3><font color=" #ff7133 "><strong>OCTAVE 61 cours Romestang 38200 Vienne</strong></font></h3>

<p>Entrée gratuite, consommations &agrave; la charge de chacun.</p>

<div class="frame"><iframe allowfullscreen="" height="315" src="https://www.youtube.com/embed/7VovLRQCHvU" width="560"></iframe></div>